* {
    padding: 0px;
    margin: 0px
}

body {
    background-color:#000000;
} 
/*============
 * Text defs
 *============*/

h1 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 65px;
}
h2 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 65px;
}
a.navlink{
    text-decoration:none;
    color:white;
}
h2 a:hover{
  color:lightgrey;
}

h1.header {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 65px;
}
h2.header {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 65px;
}
p {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
}


/*=============
 * Header defs
 *=============*/
div#header_placeholder{
    position:relative;
    width:100%;
    height:100%;
    pointer-events: none;
}
div#header{
    position:fixed;
    background-color:#FFFFFF;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index:0;
}
div#header_text{
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
}
div.header_text_pane{
    width:50%;
    height:100%;
    display:table;
    float:left;
}
div.header_text_pane_content{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    color:white;
}
div.link_wrapper:hover{
    background-color:rgba(0,0,0,0.5);
}

img#divider{
    height:50%;
    width:1px;
}
img#header_cvs_bg{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:0;
}
canvas#header_cvs{
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
}

/*===========
 * Body defs
 *===========*/
div#body{
    position:relative;
    background-image:url('../img/bg.jpg');
    background-attachment:fixed;
    padding:0.01% 0;
    z-index:1;
}
div.content{
    background-color:#FFFFFF;
    width:50%;

    padding-left:5%;
    padding-right:5%;
    padding-top:2%;
    padding-bottom:2%;

    margin: 2% auto;

    text-align:justify;
}
hr.faded {
  clear: both; 
  float: none; 
  width: 100%; 
  height: 1px;
  margin: 1.4em 0;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.1, rgb(221,221,221)),
      color-stop(0.9, rgb(221,221,221)),
      color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      left center,
      rgb(255,255,255) 0%,
      rgb(221,221,221) 10%,
      rgb(221,221,221) 90%,
      rgb(255,255,255) 100%
  );
}
/*==========
 * Nav defs 
 *==========*/

div#nav{
    position:fixed;
    right:-30%;
    top:0px;
    height:100%;
    z-index:10;
    display:table;
}
div#nav_links{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    background-color:rgba(1,0,0,0.5);
    height:50px
}
h2.nav{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 40px;
}
